GeminiVis/App/client_secret_495548084074-feb7jjutpgse72dppj9ceogt9tpf1jl7.apps.googleusercontent.com.json
#firebase credentials
C:\Users\amalb\Amal Work\GeminiVision\GeminiVision\gen-lang-client-0673524061-default-rtdb-export.json